@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

*{
    box-sizing: 0;
    padding: 0;
    margin: 0;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: Comfortaa;
    scroll-behavior: smooth;
}


body{
    background: #dbdbdb9b;
    /* display: flex;
    justify-content: center; */
}

/*--------------------------- warna ---------------------------------------*/
:root{
    --biru-1: #2fb7e1;
    --biru-2: #1F3640;
    --biru-3: #0C5171;
    --shadow: #aaa9a9;
    --background:#dbdbdb9b;
}

/* -------------------------- dashbaoard page ----------------------------- */
header{
    height: 80px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.835);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99 ;
    
}


.icon{
    position: relative;
    display: flex;
    height: 50px;
    left: 50px;
    top: 6px; 
}

.logo-name{
    height: 50px;
    left: 50px;
    top: 6px;    
}


.navigation{
    position: relative;
    top: 0;
}

.navigation a{
    color: #b8bbbc;
    text-decoration: none;
    font-size: 18px;
    padding: 20px 12px;
    position: relative;
    border: solid transparent 2px;
}

.navigation a:hover{
    color: #1F3640;
    border-radius: 10px;
    transition: all .5s;
}

    .navigation .active{
        color: #1F3640;
}

.navigation a:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    width: 100%;
    height: 3px;
    background-color: #1F3640;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.navigation a.active:after {
    transform: scaleX(1);
}
/* --------------------- Button login ----------------------- */

.btnlogin-page{
    text-decoration: none;
    position: relative;
    font-size: 18px;
    color: #1F3640;
    border-radius: 1rem;
    padding: 10px 20px;
    border: 1px solid transparent;
}

.btnlogin-page:hover{
    color:  rgba(255, 255, 255, 0.848);
    background: transparent;
    transition: all .5s;
}

.btnlogin-popup{
    position: relative;
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 5px 0px;
    right: 50px;
    box-shadow: 0px 4px 10px #c7c6c6;
}


.btnlogin-popup:hover{
    background: #1F3640;
    transition: all .5s;
}



/* ------------------------------ title --------------------------------- */

.main{
    position: relative;
    background-color: #fff;
    top: 120px;
    left: 25vw;
    height: 70vh;
    width: 72vw;
    border-radius: 1rem;
}

.main .bottom-main{
    position: relative;
    border-radius: 1rem;
    background-color: #d2e3ea;
    height: 55vh;
    width: 70vw;
    top: 40px;
    left: 1vw;
    box-shadow: 0px 4px 10px #aaa9a9;
}

.username{
    position: relative;
    top: 20px;
    width: 50%;
    left: 30px;
}

.username h1{
    position: relative;
    color: #1F3640;
    font-size: 45px;
    font-family: comfortaa;
}

.username h2,label{
    position: relative;
    color: #969696;
    font-size: 18px;
}

.search{
    display: flex;
    position: absolute;
    top: 40px;
    width: 20vw;
    padding: 10px;
    border-radius: 1rem;
    right: 1vw;
    box-shadow: 0px 5px 10px #dadada;
    background:white;
}

.search:hover{
    background: #eeeeee;
    box-shadow: 0px 5px 10px #dadada;
    /* border: 1px solid #e4e5e6; */
}

#mySearch.clicked{
    box-shadow: 0px 5px 10px #dadada;
    /* background:white; */
    background:red;
    border: 1px solid #e4e5e6;
    border: transparent 1px solid;
}

#mySearch input.clicked{
    background: blue;
}

.search input{
    background:transparent;
    position: relative;
    outline: none;
    left: 10px;
    font-size: 16px;
    font-family: comfortaa;
    color: var(--biru-2);
    border: transparent 1px solid;
}

.search img{
    position: absolute;
    right: 1vw;
    background-color: transparent;
    padding-bottom: 1px;
    width: 20px;
    height: 20px;
}

.search img{
    cursor: pointer;
}

/* main side  */
.left-side{
    position: absolute;
    left: 2vw;
    top: 4vh;
    width: 20vw;
    height: 47vh;
    background: white;
    border-radius: 1rem;
}

.side-atas{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background:#1F3640;
    width: 100%;
    height: 30%;
    border-radius: 1rem;
    box-shadow: #b8bbbc 0px 10px 10px;
}

.realtime_clock span,label{
    font-size: 40px;
    color: white;
    font-family: comfortaa;
}

.bottom-main img{
    position: absolute;
    width: 30vw;
    height: 70vh;
    top: -6vh;
    right: 5vh;
}

.team{
    background-color: #fff;
    position: fixed;
    display: flex;
    top: 120px;
    left: 3vw;
    width: 20vw;
    height: 70vh;
    border-radius: 1rem;
    justify-content: center;
}